app/pkgs/Wadl/SendEmailforMTermination.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SendEmailforMTermination" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Send Email for MTermination" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_CollectDatafromPowerApps_Inputs_def" />
      <string name="ManualTriggerInput_CollectDatafromPowerApps_Inputs_1_def" />
      <string name="ManualTriggerInput_CollectDatafromPowerApps_Inputs_2_def" />
      <string name="ManualTriggerInput_CollectDatafromPowerApps_Inputs_3_def" />
      <string name="ManualTriggerInput_CollectDatafromPowerApps_Inputs_4_def" />
      <object name="ManualTriggerInput">
        <property name="CollectDatafromPowerApps_Inputs" type="string" />
        <property name="CollectDatafromPowerApps_Inputs_1" type="string" />
        <property name="CollectDatafromPowerApps_Inputs_2" type="string" />
        <property name="CollectDatafromPowerApps_Inputs_3" type="string" />
        <property name="CollectDatafromPowerApps_Inputs_4" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="CollectDatafromPowerApps_Inputs" path="/CollectDatafromPowerApps_Inputs" type="xs:string" required="true" />
            <param style="plain" name="CollectDatafromPowerApps_Inputs_1" path="/CollectDatafromPowerApps_Inputs_1" type="xs:string" required="true" />
            <param style="plain" name="CollectDatafromPowerApps_Inputs_2" path="/CollectDatafromPowerApps_Inputs_2" type="xs:string" required="true" />
            <param style="plain" name="CollectDatafromPowerApps_Inputs_3" path="/CollectDatafromPowerApps_Inputs_3" type="xs:string" required="true" />
            <param style="plain" name="CollectDatafromPowerApps_Inputs_4" path="/CollectDatafromPowerApps_Inputs_4" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>